process.executor = 'slurm'
process.cache = 'lenient'
process.clusterOptions = '-x c4-n20'
process.publishDir.mode='copy'
process.publishDir.overwrite = true
singularity.enabled = true
singularity.autoMounts = true
process.errorStrategy = 'ignore'

params {

     project_dir = ""

     // Pipeline Settings
     settings {
        add_tcr = false
        add_bcr = false
        skip_cellranger = false
        merge_for_demux = true
        merge_demux_dir = ""
        demux_method = "freemuxlet"
        run_doubletfinder = true
	fmx_assign_to_gt = false
        mincell = 3
        minfeature = 100
        default_qc_cuts_dir = ""
        default_qc_cuts_file = ""
        randomseed = 21212
        remove_demux_DBL =  true
        remove_all_DBL = true
     }

     pools = null

}

includeConfig 'config/container.config'
includeConfig 'config/reference.config'
includeConfig 'config/compute.config'