process.executor = 'slurm'
process.cache = 'lenient'
process.publishDir.mode='copy'
process.publishDir.overwrite = true
singularity.enabled = true
singularity.autoMounts = true

// cluster options you may want to edit
process.queue = 'freecycle,krummellab,common'

process.clusterOptions = '-x c4-n20' // skip c4-n20, you can add to this  listif there are other problem nodes, or remove c4-n20 if it is working thatt day
executor.queueSize = 20 // max number of jobs that can be submitted to the queue
 
process.errorStrategy = 'finish' // if there is an error, finish all submitted jobs before killing things -- helps prevent loss of compute time for large sets of jobs

process.scratch = true // use $TMPDIR on each node for scratch work, speeds things up 

// additional options to consider - note that there can only be one error strategy selected for the standard profile, so you must comment out the other `process.errorStrategy` if you are changing this
// process.errorStrategy = 'ignore' // the pipeline will continue even when a particular file errors out (particularly useful in the case you have a large number of files running and you expect some files may fail. This is not our default because it allows for "silent" errors, but you can use this, just make sure to check all completes.)
// process.errorStrategy = 'retry' // retry each process once on each instance (data item) if it errors out 
// process.maxRetries = 1 // can increase - number for each process instance, uncomment if using "retry"
// process.maxErrors = 3 // number of times a process can error across all instances of that process, recommended to uncomment if using "retry"


params {

     project_dir = ""

     // Pipeline Settings
     settings {
        add_tcr = false
        add_bcr = false
        skip_cellranger = false
        merge_for_demux = true
        merge_demux_dir = ""
        demux_method = "freemuxlet"
        run_doubletfinder = true
        fmx_assign_to_gt = false
        mincell = 3
        minfeature = 100
        default_qc_cuts_dir = ""
        default_qc_cuts_file = ""
        randomseed = 21212
        remove_demux_DBL =  true
        remove_all_DBL = true
     }

     pools = null

}

includeConfig 'config/container.config'
includeConfig 'config/reference.config'
includeConfig 'config/compute.config'
