
params {
  dirs {
    singularity = "/krummellab/data1/singularity_images/"
    ref_dir = "/krummellab/data1/ipi/data/refs/10x/"
    fmx_ref = "/krummellab/data1/ipi/data/databases/freemuxlet_vcf"
  }
}
 
// list reference files
params {
  ref {
    genome_version = "hg38"
    transcriptome = "${params.dirs.ref_dir}/refdata-gex-GRCh38-2020-A"
    cite_feature_ref = "${params.dirs.ref_dir}/citeseq_resources/TotalSeqC_Human_Universal_Cocktail_v1.csv"
    vdj_ref = "${params.dirs.ref_dir}/refdata-cellranger-vdj-GRCh38-alts-ensembl-5.0.0"
    one_k_genome_vcf = "${params.dirs.fmx_ref}/ucsc.hg38.liftover.out.withchr.c1_22.nohbb.vcf.gz"
  }
}

// list the containers
params {
  container {
    cellranger = "${params.dirs.singularity}/cellranger/6.0.2/cellranger.sif"
    popscle = "${params.dirs.singularity}/popscle/da70fc78da385ef049e0e890342acfd62842cae0/popscle.sif"
    rsinglecell = "${params.dirs.singularity}/RSingleCell/v3/RSingleCell.sif"
    python = "${params.dirs.singularity}/cytof/v3/cytof.sif"

  }
}


