

// define reference directories
KLAB="/krummellab/data1"
params {
  dirs {
       ref = "${KLAB}/ipi/data/refs/"
       singularity = "${KLAB}/singularity_images/"
  }
}
params.dirs.ref_hg38 = "${params.dirs.ref}/hg38_files/"

// list the reference info
params {
 ref {
    genome_version                  = 'hg38'
    adapter_seq1                    = 'CTGTCTCTTATACACATCT'
    adapter_seq2                    = 'CTGTCTCTTATACACATCT'
    rrna_bwa_idx_dir                = "${params.dirs.ref}/bwa"
    rrna_bwa_idx_prefix             = 'human.rrna.fa'
    rsem_star_transcript_ref_dir    = "${params.dirs.ref}/rsem/hg38_pure_rsem"
    rsem_star_transcript_ref_prefix = 'hg38'
    genome_flat_ref_dir             = "${params.dirs.ref_hg38}"
    genome_flat_ref_filename        = 'refFlat.hg38.85.20161209.txt'
    gtf_ref                         = "${params.dirs.ref_hg38}/Homo_sapiens.GRCh38.85.gtf"
    ribosomal_intervals_dir         = "${params.dirs.ref_hg38}"
    ribosomal_intervals_filename    = 'Homo_sapiens.GRCh38.85.rRNA.20160902.interval_list'
    star_genome_dir                 = "${params.dirs.ref}/star/hg38_150sjdb"
    sequence_ref_dir                = "${params.dirs.ref_hg38}"
 }
}

// list the containers 
params {
 container {
   fastp = "${params.dirs.singularity}/fastp/0.20.1/fastp.sif"
   bwa = "${params.dirs.singularity}/bwa/0.7.17/bwa.sif"
   samtools = "${params.dirs.singularity}/samtools/1.12/samtools.sif"
   picard = "${params.dirs.singularity}/picard/2.25.3/picard.sif"
   star = "${params.dirs.singularity}/STAR/2.6.1b/STAR.sif"
   utils = "${params.dirs.singularity}/utils/v1/utils.sif"
   rsem = "${params.dirs.singularity}/RSEM/1.3.3/RSEM.sif"
  }

}