

// define reference directories
KLAB="/krummellab/data1"
params {
  dirs {
       singularity = "${KLAB}/singularity_images/"
       genome = "${KLAB}/immunox/refs/GRCh38_p13_files/"
  }
}

// list the reference info
params {
 ref {
    genome_version                  = 'hg38'
    adapter_seq1                    = 'CTGTCTCTTATACACATCT'
    adapter_seq2                    = 'CTGTCTCTTATACACATCT'
    rsem_star_transcript_ref_dir    = "${params.dirs.genome}/rsem_all/"
    rsem_star_transcript_ref_prefix = "hg38"
    dbsnp			    = "${params.dirs.genome}/GCF_000001405.39_mapped.txt.gz"
    exon_bed			    = "${params.dirs.genome}/exon_only.bed"
    genome_flat_ref_dir             = "${params.dirs.genome}"
    genome_flat_ref_filename        = "gencode.v38.chr_patch_hapl_scaff.annotation_flat.txt"
    gtf_ref                         = "${params.dirs.genome}/gencode.v38.chr_patch_hapl_scaff.annotation.gtf"
    ribosomal_intervals_dir         = "${params.dirs.genome}"
    ribosomal_intervals_filename    = "ribo_intervals_all.txt"
    star_genome_dir                 = "${params.dirs.genome}/star_all/"
    sequence_ref_dir                = "${params.dirs.genome}"
    fasta_file			    = "GRCh38.p13.genome.fa"
    kallisto_dir             	    = "${params.dirs.genome}/kallisto_all/"
    kallisto_index 	     	    = "GRCh38.p13.index"
 }
}

// list the containers 
params {
 container {
   arcashla = "${params.dirs.singularity}/arcasHLA/v0.2.5/arcasHLA.sif"
   fastp = "${params.dirs.singularity}/fastp/0.20.1/fastp.sif"
   samtools = "${params.dirs.singularity}/samtools/1.12/samtools.sif"
   picard = "${params.dirs.singularity}/picard/2.25.3/picard.sif"
   star = "${params.dirs.singularity}/STAR/2.7.8a/STAR.sif"
   utils = "${params.dirs.singularity}/utils/v1/utils.sif"
   rsem = "${params.dirs.singularity}/RSEM/1.3.3/RSEM.sif"
   kallisto ="${params.dirs.singularity}/kallisto/0.46.1/kallisto.sif"
   gatk = "${params.dirs.singularity}/GATK/4.1.3.0/gatk_4.1.3.0.sif"
  }
}