includeConfig 'parameters.config'
includeConfig 'references.config'
includeConfig 'user_directories.config'

profiles {
    'local' {
        includeConfig 'conda.config'
        conda.enabled = true
    }

    'hpc' {
        includeConfig 'container.config'
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = 'slurm'
        process.cache = 'lenient'
	trace.enabled = true
    }
}
