includeConfig 'parameters.config'
includeConfig 'directories.config'

profiles {
    'local' {
        includeConfig 'conda.config'
        conda.enabled = true
    }

    'hpc' {
        process.container = '/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif'
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
