process {
   withLabel: 'validate_sample_sheet' {
      conda = "${baseDir}/envs/py311_basic.yml"
      cpus = 1
      memory = '31 GB'
   }

   withLabel: 'cat_fastq' {
      conda = "${baseDir}/envs/py311_basic.yml"
      cpus = 1
      memory = '31 GB'
   }

   withLabel: 'fastp_trim_adapters' {
      conda = "${baseDir}/envs/fastp.yml" 
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'sortmerna_ribosomal_rna_removal' {
      conda = "${baseDir}/envs/sortmerna.yml" 
      cpus = 64
      memory = '62 GB'
   }

   withLabel: 'kallisto_quant' {
      conda = "${baseDir}/envs/kallisto.yml" 
      cpus = 12
      memory = '62 GB'
   }

   withLabel: 'star_align' {
      conda = "${baseDir}/envs/star.yml"
      cpus = 32
      memory = '62 GB'
   }

   withLabel: 'samtools_sort' {
      conda = "${baseDir}/envs/samtools.yml"
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'samtools_index' {
      conda = "${baseDir}/envs/samtools.yml"
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'samtools_stats' {
      conda = "${baseDir}/envs/samtools.yml"
      cpus = 1
      memory = '31 GB'
   }

   withLabel: 'samtools_idxstats' {
      conda = "${baseDir}/envs/samtools.yml"
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'samtools_flagstat' {
      conda = "${baseDir}/envs/samtools.yml" 
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'samtools_extract_mapped_reads' {
      conda = "${baseDir}/envs/samtools.yml" 
      cpus = 2
      memory = '62 GB'
   }

   withLabel: 'samtools_bam_to_cram' {
      conda = "${baseDir}/envs/samtools.yml" 
      cpus = 2
      memory = '62 GB'
   }

   withLabel: 'picard_markduplicates' {
      conda = "${baseDir}/envs/gatk.yml"
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'gatk4_apply_bqsr' {
      conda = "${baseDir}/envs/gatk.yml"
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'gatk4_recalibrator' {
      conda = "${baseDir}/envs/gatk.yml" 
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'gatk4_splitncigarreads' {
      conda = "${baseDir}/envs/gatk.yml" 
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'gatk4_haplotypecaller' {
      conda = "${baseDir}/envs/gatk.yml" 
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'gatk4_variantfiltration' {
      conda = "${baseDir}/envs/gatk.yml" 
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'bcftools_sort_vcf' {
      conda = "${baseDir}/envs/bcftools.yml" 
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'bcftools_index_vcf' {
      conda = "${baseDir}/envs/bcftools.yml" 
      cpus = 2
      memory = '31 GB'
   }

   withLabel: 'bcftools_merge_vcf' {
      conda = "${baseDir}/envs/bcftools.yml" 
      cpus = 2
      memory = '31 GB'
   }
   withLabel: 'bcftools_contig_conversion' {
      conda = "${baseDir}/envs/bcftools.yml" 
      cpus = 2
      memory = '31 GB'
   }
}