process {
   time = '12h'
   memory = '64GB'
   cpus = 1
   clusterOptions = '--exclude=c4-n20'
   container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"


   withLabel: 'fastp_trim_adapters' {
      cpus = 6
   }

   withLabel: 'sortmerna_ribosomal_rna_removal' {
      cpus = 20
      time = '72h'
   }

   withLabel: 'kallisto_quant' {
      cpus = 4
   }

   withLabel: 'star_align' {
      cpus = 8
      time = '72h'
   }

   withLabel: 'samtools_sort' {
      cpus = 2
   }

   withLabel: 'samtools_index' {
      cpus = 2
   }

   withLabel: 'samtools_stats' {
      cpus = 1
   }

   withLabel: 'samtools_idxstats' {
      cpus = 2
   }

   withLabel: 'samtools_flagstat' {
      cpus = 2
   }

   withLabel: 'samtools_extract_mapped_reads' {
      cpus = 2
   }

   withLabel: 'samtools_bam_to_cram' {
      cpus = 2
   }

   withLabel: 'picard_markduplicates' {
      cpus = 2
   }

   withLabel: 'gatk4_splitncigarreads' {
      cpus = 1
      time = '72h'
   }

   withLabel: 'gatk4_recalibrator' {
      cpus = 1
   }

   withLabel: 'gatk4_apply_bqsr' {
      cpus = 1
      time = '48h'
   }

   withLabel: 'gatk4_haplotypecaller' {
      cpus = 1
      time = '148h'
   }

   withLabel: 'gatk4_variantfiltration' {
      cpus = 1
   }

   withLabel: 'bcftools_contig_conversion' {
      cpus = 4
   }

   withLabel: 'bcftools_sort_vcf' {
      cpus = 1
   }

   withLabel: 'bcftools_index_vcf' {
      cpus = 1
   }

   withLabel: 'bcftools_merge_vcf' {
      cpus = 8
   }

   withLabel: 'multiqc' {
      cpus = 1
   }
}