process {
   withLabel: 'validate_sample_sheet' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'cat_fastq' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'fastp_trim_adapters' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 2
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'sortmerna_ribosomal_rna_removal' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif" 
      cpus = 23
      memory = '62 GB'
      clusterOptions = '--exclude=c4-n20 --time=72:31:41'
   }

   withLabel: 'kallisto_quant' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 12
      memory = '62 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'custom_merge_counts' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '32 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'star_align' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 32
      memory = '62 GB'
      clusterOptions = '--exclude=c4-n20 --time=12:23:34'
   }

   withLabel: 'samtools_sort' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 2
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'samtools_index' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 2
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'samtools_stats' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'samtools_idxstats' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 2
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'samtools_flagstat' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 2
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'samtools_extract_mapped_reads' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif" 
      cpus = 2
      memory = '62 GB'
      clusterOptions = '--exclude=c4-n20 --time=00:42:00'
   }

   withLabel: 'samtools_bam_to_cram' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 2
      memory = '62 GB'
      clusterOptions = '--exclude=c4-n20 --time=00:42:00'
   }

   withLabel: 'picard_markduplicates' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'gatk4_apply_bqsr' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20 --time=00:42:00'
   }

   withLabel: 'gatk4_recalibrator' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif" 
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20 --time=00:42:00'
   }

   withLabel: 'gatk4_splitncigarreads' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20 --time=00:42:00'
   }

   withLabel: 'gatk4_haplotypecaller' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20  --time=12:23:34'
   }

   withLabel: 'gatk4_variantfiltration' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20 --time=00:42:00'
   }

   withLabel: 'bcftools_contig_conversion' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif" 
      cpus = 4
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'bcftools_sort_vcf' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif" 
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20 --time=00:23:00'
   }

   withLabel: 'bcftools_index_vcf' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'bcftools_merge_vcf' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif"
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }

   withLabel: 'multiqc' {
      container = "/krummellab/data1/singularity_images/bulk_rnaseq/v1/bulk_rna_seq.sif" 
      cpus = 1
      memory = '31 GB'
      clusterOptions = '--exclude=c4-n20'
   }
}