
params {
    // This reference is expected to use UCSC-style chromosome names already.
    format_contigs      = false
    reference_directory = "/krummellab/data1/DSCoLab/references/human/hg38_p13/ensembl"
    genome              = "${reference_directory}/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    genome_idx          = "${reference_directory}/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai"
    genome_dict         = "${reference_directory}/Homo_sapiens.GRCh38.dna.primary_assembly.dict"
    genome_dir          = "${reference_directory}/star_index"
    gtf                 = "${reference_directory}/Homo_sapiens.GRCh38.113.gtf"
    transcript_fasta    = "${reference_directory}/rsem_genome.transcripts.fa"
    transcript_index    = "${reference_directory}/kallisto_index"
    dbsnp               = "${reference_directory}/dbsnp138.vcf.gz"
    dbsnp_tbi           = "${reference_directory}/dbsnp138.vcf.gz.tbi"
    gene_mapper         = "${reference_directory}/dbsnp138.vcf.gz.tbi"
    contig_format_map   = ""
    rrna_db_file        = "${reference_directory}/rrna_db.txt"
}
