
params {
    reference_directory = "/krummellab/data1/DSCoLab/references/human/hg38_p13/ncbi_refseq"
    genome              = "${reference_directory}/GCF_000001405.39_GRCh38.p13_genomic.fna"
    genome_idx          = "${reference_directory}/GCF_000001405.39_GRCh38.p13_genomic.fna.fai"
    genome_dict         = "${reference_directory}/GCF_000001405.39_GRCh38.p13_genomic.dict"
    genome_dir          = "${reference_directory}/star_index"
    gtf                 = "${reference_directory}/GCF_000001405.39_GRCh38.p13_genomic.gtf"
    transcript_fasta    = "${reference_directory}/rsem_genome.transcripts.fa"
    transcript_index    = "${reference_directory}/kallisto_index"
    dbsnp               = "${reference_directory}/GCF_000001405.39.gz"
    dbsnp_tbi           = "${reference_directory}/GCF_000001405.39.gz.tbi"
    gene_mapper         = "${reference_directory}/GCF_000001405.39.gz.tbi"
    contig_format_map   = "${reference_directory}/hg38.p13.chromAlias.txt"
    rrna_db_file        = "${reference_directory}/rrna_db.txt"
}