executor {

  $local {
      cpus = 92
      memory = '314 GB'
  }
}

params {
    input             = "/krummellab/data1/alaa/data/tests/bulk_rnaseq/pipe_dev/test_sample_sheet3_dan_single-end_bad.csv"   
    genome            = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.fna"
    genome_idx        = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.fna.fai"
    genome_dict       = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.dict"
    genome_dir        = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/genome_dir"
    gtf               = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/genomic.gtf" 
    dbsnp             = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40.gz"
    dbsnp_tbi         = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40.gz.tbi"
    tmp_dir           = "/scratch/alaa"
    results_directory = "/krummellab/data1/alaa/data/tests/bulk_rnaseq/rnax_test_results/dan_single-end_bad"
}