conda.enabled = true

executor {

  $local {
      cpus = 92
      memory = '314 GB'
  }
}

params {
    input               = "/path/to/your/sample_sheet.csv"
    tmp_dir             = "/path/to/scratch"
    results_directory   = "/path/to/output/directory"  
    genome              = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/GCF_000001405.40_GRCh38.p14_genomic.fna"
    genome_idx          = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/GCF_000001405.40_GRCh38.p14_genomic.fna.fai"
    genome_dict         = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/GCF_000001405.40_GRCh38.p14_genomic.dict"
    genome_dir          = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/star_index"
    gtf                 = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/genomic.gtf"
    transcript_fasta    = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/rsem_genome.transcripts.fa"
    transcript_index    = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/kallisto_index"
    salmon_quant_libtype= null
    fragment_length_mean= 200
    fragment_length_std = 20
    gtf_extra_attributes= 'gene_name'
    gtf_group_features  = 'gene_id'
    gatk_vf_cluster_size= 3
    gatk_vf_window_size = 35
    gatk_vf_fs_filter   = 30.0
    gatk_vf_qd_filter   = 2.0
    umitools_dedup_stats= false
    filter_rrna         = false
    dbsnp               = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/GCF_000001405.40.gz"
    dbsnp_tbi           = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/GCF_000001405.40.gz.tbi"
    gene_mapper         = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/not_here_yet"
    format_contigs      = true
    contig_format_map   = "/krummellab/data1/DSCoLab/references/human/hg38_p14/ncbi_refseq/chromAlias.txt"
    rrna_db_file        = "/krummellab/data1/alaa/data/human/references/ribosomal_rna/rrna_db.txt"
    adapter_sequence_1  = "CTGTCTCTTATACACATCT"
    adapter_sequence_2  = "CTGTCTCTTATACACATCT"
}