conda.enabled = true

executor {

  $local {
      cpus = 92
      memory = '314 GB'
  }
}

params {
    input               = "/krummellab/data1/alaa/data/tests/bulk_rnaseq/rnax_test_results/dan_xneo2_single_end_bad_p14/test_sample_sheet3_dan_single-end_bad.csv"   
    genome              = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.fna"
    genome_idx          = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.fna.fai"
    genome_dict         = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.dict"
    genome_dir          = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/genome_dir"
    gtf                 = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/genomic.gtf" 
    transcript_fasta    = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/genome_dir/rsem_genome.transcripts.fa"
    salmon_quant_libtype= null
    fragment_length_mean= 200
    fragment_length_std = 20
    gtf_extra_attributes= 'gene_name'
    gtf_group_features  = 'gene_id'
    gatk_vf_cluster_size= 3
    gatk_vf_window_size = 35
    gatk_vf_fs_filter   = 30.0
    gatk_vf_qd_filter   = 2.0
    umitools_dedup_stats= false
    filter_rrna         = false
    dbsnp               = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40.gz"
    dbsnp_tbi           = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40.gz.tbi"
    contig_format_map   = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_assembly_report.ucsc_style_chrm_names.txt"
    rrna_db_file        = "/krummellab/data1/alaa/data/human/references/ribosomal_rna/rrna_db.txt"
    adapter_sequence_1  = "CTGTCTCTTATACACATCT"
    adapter_sequence_2  = "CTGTCTCTTATACACATCT"
    tmp_dir             = "/scratch/alaa/"
    results_directory   = "/krummellab/data1/alaa/data/tests/bulk_rnaseq/rnax_test_results/dan_xneo2_single_end_good_p14"
}