
params {
    salmon_quant_libtype= null
    fragment_length_mean= 200
    fragment_length_std = 20
    gtf_extra_attributes= 'gene_name'
    gtf_group_features  = 'gene_id'
    gatk_vf_cluster_size= 3
    gatk_vf_window_size = 35
    gatk_vf_fs_filter   = 30.0
    gatk_vf_qd_filter   = 2.0
    umitools_dedup_stats= false
    filter_rrna         = false
    format_contigs      = true
    adapter_sequence_1  = "CTGTCTCTTATACACATCT"
    adapter_sequence_2  = "CTGTCTCTTATACACATCT"
}