
params {
    salmon_quant_libtype= null
    fragment_length_mean= 200
    fragment_length_std = 20
    gtf_extra_attributes= 'gene_name'
    gtf_group_features  = 'gene_id'
    gatk_vf_cluster_size= 3
    gatk_vf_window_size = 35
    gatk_vf_fs_filter   = 30.0
    gatk_vf_qd_filter   = 2.0
    umitools_dedup_stats= false
    filter_rrna         = true
    format_contigs      = false
    adapter_sequence_1  = "CTGTCTCTTATACACATCT"
    adapter_sequence_2  = "CTGTCTCTTATACACATCT"

    // STAR custom arguments for SNP calling sensitivity
    star_outfilter_mismatch_n_over_lmax   = 0.05
    star_align_sjoverhang_min             = 8
    star_outfilter_multimap_nmax          = 20
    star_seed_search_start_lmax           = 20
    star_additional                      = null

    // GATK HaplotypeCaller RNA-seq params
    gatk_dont_use_soft_clipped_bases      = true
    gatk_standard_min_confidence          = 20
    gatk_min_pruning                      = 1
    gatk_recover_all_dangling_branches    = true
    gatk_allow_nonunique_kmer             = false
    gatk_max_mnp_distance                 = 0

    // VariantFiltration options (can override via CLI/config)
    gatk_vf_cluster_size                  = 3
    gatk_vf_window_size                   = 35
    gatk_vf_fs_filter                     = 30.0
    gatk_vf_qd_filter                     = 2.0

    // For user to specify raw/unfiltered output (debugging)
    emit_unfiltered_vcf                   = false
}