executor {

  $local {
      cpus = 92
      memory = '314 GB'
  }
}

params { 
    genome              = "/krummellab/data1/alaa/data/human/references/GRCh38.p14_modified_v2/GRCh38_masked_v2_decoy_gene.fasta"
    gtf                 = "/krummellab/data1/alaa/data/human/references/GRCh38.p14_modified_v2/gencode.v43.chr_patch_hapl_scaff.annotation.gtf"
    tmp_dir             = "/scratch/alaa"
    reference_directory = "/krummellab/data1/alaa/data/human/references/GRCh38.p14_modified_v2"
}