
params {
    reference_directory = "/wynton/protected/group/suliman/references/ncbi_refseq"
    genome              = "${reference_directory}/GCF_000001405.40_GRCh38.p14_genomic.fna"
    genome_idx          = "${reference_directory}/GCF_000001405.40_GRCh38.p14_genomic.fna.fai"
    genome_dict         = "${reference_directory}/GCF_000001405.40_GRCh38.p14_genomic.dict"
    genome_dir          = "${reference_directory}/star_index"
    gtf                 = "${reference_directory}/genomic.gtf"
    transcript_fasta    = "${reference_directory}/rsem_genome.transcripts.fa"
    transcript_index    = "${reference_directory}/kallisto_index"
    dbsnp               = "${reference_directory}/GCF_000001405.40.gz"
    dbsnp_tbi           = "${reference_directory}/GCF_000001405.40.gz.tbi"
    gene_mapper         = "${reference_directory}/GCF_000001405.40.gz.tbi"
    contig_format_map   = "${reference_directory}/chromAlias.txt"
    rrna_db_file        = "${reference_directory}/rrna_db.txt"
}