includeConfig 'user_directories.config'

profiles {
    'hpc_c4' {
        includeConfig 'container.config'
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = 'slurm'
	    executor.queueSize = 60
        process.cache = 'lenient'
	    trace.enabled = true
        trace.taskMemory = true
        withLabel: 'per_sample' {
            errorStrategy = 'finish'
            }
    }
    'hpc_wynton' {
        includeConfig 'container.config'
        singularity.enabled = true
        singularity.autoMounts = true
        process.cache = 'lenient'
        process.executor = 'sge'
        process.penv = 'smp'
        clusterOptions = '-S /bin/bash'
        withLabel: 'per_sample' {
            errorStrategy = 'finish'
            }
    }
    'local' {
        includeConfig 'container.config'
        singularity.enabled = true
        singularity.autoMounts = true
        process.executor = 'local'
        process.cache = 'lenient'
        trace.enabled = true
        trace.taskMemory = true
    }
    'local_conda' {
        process.executor = 'local'
        conda.enabled = true
        process.cache = 'lenient'
        trace.enabled = true
        trace.taskMemory = true
    }
}