process {
   time = 12.h
   memory = 64.GB
   cpus = 1
   container = "/krummellab/data1/singularity_images/bulk_rnaseq/v5/bulk_rnaseq_pipeline.sif"


   withLabel: 'gatk_generate_sequence_dictionary' {
      cpus = 1
   }

   withLabel: 'gatk_index_vcf' {
      cpus = 1
      time = 96.h
   }

   withLabel: 'kallisto_index' {
      cpus = 2
   }

   withLabel: 'rsem_prepare_reference' {
      cpus = 32
      time = 96.h
   }

   withLabel: 'samtools_faidx' {
      cpus = 1
   }

   withLabel: 'star_index_genome' {
      cpus = 64
   }
}