executor {

  $local {
      cpus = 92
      memory = '314 GB'
  }
}

params { 
    genome              = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/GCF_000001405.40_GRCh38.p14_genomic.fna"
    gtf                 = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40/genomic.gtf"
    tmp_dir             = "/scratch/alaa"
    reference_directory = "/krummellab/data1/alaa/data/human/references/GRCh38.p14/GCF_000001405.40"
}