conda.enabled = true

executor {

  $local {
      cpus = 14
      memory = '256 GB'
  }
}

params { 
    genome              = "/krummellab/data1/alaa/data/mouse/references/GRCm39/ensembl_109/"
    gtf                 = "/krummellab/data1/alaa/data/mouse/references/GRCm39/ensembl_109/"
    tmp_dir             = "/scratch/alaa"
    reference_directory = "/krummellab/data1/alaa/data/mouse/references/GRCm39/ensembl_109"
}