params { 
    genome              = "/krummellab/data1/immunox/refs/GRCh38_p13_files/no_patch/GRCh38.primary_assembly.genome.fa"
    gtf                 = "/krummellab/data1/immunox/refs/GRCh38_p13_files/no_patch/gencode.v38.annotation.gtf"
    tmp_dir             = "ref_workdir"
    index_vcf           = true
    dbsnp               = "/krummellab/data1/immunox/refs/GRCh38_p13_files/bravo_dbsnp/bravo-dbsnp-all.vcf.gz"
    reference_directory = "/krummellab/data1/immunox/refs/GRCh38_p13_files/no_patch_out/"
}