params { 
    genome              = "/krummellab/data1/DSCoLab/references/human/hg38_p13/ncbi_refseq/GRCh38.p13.genome.fa"
    gtf                 = "/krummellab/data1/DSCoLab/references/human/hg38_p13/ncbi_refseq/gencode.v38.annotation.gtf"
    tmp_dir             = "/c4/scratch/${USER}"
    index_vcf           = true
    dbsnp               = "/krummellab/data1/DSCoLab/references/human/hg38_p13/ncbi_refseq/GCF_000001405.39.gz"
    reference_directory = "/krummellab/data1/DSCoLab/references/human/hg38_p13/ncbi_refseqs"
}