// resource configs
profiles {
  standard {
    process {
      time = '2h'
      memory='10GB'
      cpus = 1
      withName: "TEST_GZIP_INTEGRITY" {
        memory='40GB'
      }
      withName: "CELLRANGER" {
        time='48h'
        cpus=10
        memory='320GB'
      }
      withName: "CELLRANGER_VDJ"{
        cpus=10
        time='24h'
        memory='120GB'
      }
      withName: "DSC_PILEUP" {
        cpus=5
        memory='200GB'
        time='24h'
      }
      withName: "MERGE_DSC" {
        cpus=2
        memory='100GB'
        time='4h'
      }
      withName: "FILTER_BAM" {
        cpus=5
	      memory='250GB'
	      time='8h'
      }
      withName: "FREEMUXLET_POOL"{
        cpus=10
        time='24h'
        memory='120GB'
      }
      withName: "FREEMUXLET_LIBRARY"{
        cpus=10
        time='24h'
        memory='120GB'
      }
      withName: "DEMUXLET_POOL"{
        cpus=10
        time='24h'
        memory='120GB'
      }
      withName: "DEMUXLET_LIBRARY"{
        cpus=10
        time='24h'
        memory='120GB'
      }
      withName: 'FIND_DOUBLETS' {
        time='24h'
        memory='120GB'
      }
      withName: 'LOAD_SOBJ'{
        memory='50GB'
      }
      withName: 'SEURAT_POST_FILTER' {
       memory='75GB'
      }
    }
  }
  test {
    process {
      time = '2h'
      memory='10GB'
      withName: 'CELLRANGER'{
        memory='100GB'
	time= '5h'
        cpus=10
      }
      withName: 'CELLRANGER_VDJ'{
        memory='100GB'
	time = '1h'
        cpus=10
      }

    }
  }
}
