params {
    container {
        singularity_dir = "/krummellab/data1/singularity_images/"
        cellranger = "${params.container.singularity_dir}/cellranger/6.0.2/cellranger.sif"
        cellranger_atac = "${params.container.singularity_dir}/cellranger_atac/2.0.0/cellranger-atac.sif"
        popscle = "${params.container.singularity_dir}/popscle/da70fc78da385ef049e0e890342acfd62842cae0/popscle.sif"
        rsinglecell = "${params.container.singularity_dir}/RSingleCell/v4/RSingleCell.sif"
        rplus_bcftools = "${params.container.singularity_dir}/rplus_bcftools/rsinglecell_bcftools.sif"
        python = "${params.container.singularity_dir}/cytof/v3/cytof.sif"
        bed_bcftools= "${params.container.singularity_dir}/bcf_bed_r/bcf_bed_r.sif"
        amulet= "${params.container.singularity_dir}/amulet/v1.1/amulet.sif"
    }
}