params {
    container {
        singularity_dir = "/krummellab/data1/singularity_images/"
        cellranger = "${params.container.singularity_dir}/cellranger/7.2.0/cellranger.sif"
        popscle = "${params.container.singularity_dir}/popscle/da70fc78da385ef049e0e890342acfd62842cae0/popscle.sif"
        rsinglecell = "${params.container.singularity_dir}/RSingleCell/v4/RSingleCell.sif"
        rplus_bcftools = "${params.container.singularity_dir}/rplus_bcftools/rsinglecell_bcftools.sif"
        python = "${params.container.singularity_dir}/cytof/v3/cytof.sif"
    }
}