params {
    container {
        singularity_dir = "/krummellab/data1/singularity_images/"
        cellranger = "${params.container.singularity_dir}/cellranger/6.0.2/cellranger.sif"
        popscle = "${params.container.singularity_dir}/popscle/da70fc78da385ef049e0e890342acfd62842cae0/popscle.sif"
        rsinglecell = "${params.container.singularity_dir}/RSingleCell/v3/RSingleCell.sif"
        python = "${params.container.singularity_dir}/cytof/v3/cytof.sif"
    }
}