params {
  ref {
    genome_version = "hg38"
    fmx_dir = "/krummellab/data1/ipi/data/databases/freemuxlet_vcf"
    dir = "/krummellab/data1/ipi/data/refs/10x/"
    ef_ref = "/krummellab/data1/erflynn/ref/"
    transcriptome = "${params.ref.dir}/refdata-gex-GRCh38-2020-A"
    cite_feature_ref = "${params.ref.dir}/citeseq_resources/TotalSeqC_Human_Universal_Cocktail_v1.csv"
    vdj_ref = "${params.ref.dir}/refdata-cellranger-vdj-GRCh38-alts-ensembl-5.0.0"
    snp_ref = "${params.ref.fmx_dir}/ucsc.hg38.liftover.out.withchr.c1_22.nohbb.vcf.gz"
    chr_list = "${params.ref.ef_ref}/chr_list.txt"
    atac_blacklist = "${params.ref.ef_ref}/blacklist/hg38-blacklist.v2.bed.gz"
  }
}